<main class="p-3">
  <h1 class="text-center">Buscador de Imágenes Anime</h1>
  <!-- https://docs.api.jikan.moe/ -->
  <form class="mb-3" [formGroup]="form">
    <mat-form-field style="width: 100%;">
      <input
        [formControl]="searchControl"
        matInput
        placeholder="Dragon Ball Z"
      />
    </mat-form-field>
  </form>
  <section class="grid">
    <div class="col-2" *ngFor="let anime of animes">
      <app-anime-item [anime]="anime"></app-anime-item>
    </div>
  </section>
</main>
